VITE_SUPABASE_URL=https://qwivyyvhezqbhlukcsmt.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InF3aXZ5eXZoZXpxYmhsdWtjc210Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTAyMzQyNjcsImV4cCI6MjEwNTgxMDI2N30.4IhLe0Kma4IjcFZuESR579StQBbnTUmTEdIEyPI37qo
